<h2> That user <%= @user.user_name %> </h2>

<p> <%= @user.user_name %></a> | <%= @user.first_name %>| <%= @user.last_name %></p>
<%= button_to "delete", {:controller => :users,
      :action => 'destroy', :id => @user.id }, :method => :delete, form_class: "waves-effect waves-light btn" %>
