
<%= form_for(@link) do |f| %>
      <div>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'input-field title', placeholder: "You won't believe what happens next!" %>
        </div>

        <div>
          <%= f.label :body %>
          <% if params[:action] == "edit" %>
            <%= f.text_field :body, class: 'input-field body', placeholder: "www.clickbait.com", disabled: true %>
          <% else %>
            <%= f.text_field :body, class: 'input-field body', placeholder: "www.clickbait.com" %>
          <% end %>
        </div>

        <div>
          <%= f.label :user_id%>
          <% if params[:action] == "edit" %>
            <%= f.collection_select(:user_id, User.all, :id, :user_name, {}, disabled: true) %>
          <% else %>
            <%= f.collection_select(:user_id, User.all, :id, :user_name) %>
          <% end %>
        </div>
        <div>
          <%= f.submit %>
        </div>
      </div>
<% end %>
