<!DOCTYPE html>
<html>
<head>
  <title>IronReddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/links/new">Create a link!</li>
        <li><a href="/users">Users</a></li>
        <li><a href="/users/new">Create a user</a></li>
      </ul>
    </nav>
<div class='container'>
<%= yield %>
</div>

<% if @links %>
  <%= paginate @links %>
<% end %>
</body>
</html>
